body{
	margin:0;
	padding: 0;
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 25px;
	background: #f5f3dd;

}
 
/* To make all element responsive define this */
div, section , header, footer , nav , ul{
	box-sizing: border-box;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#section-1{
	background-image:url(../images/software-engineer-vs-programmer00.jpg);
}

#section-2{
	background-image:url(../images/industryweek_36081_data_glasses_blue_jiraroj_praditcharoenkul_istock_getty_images.png);
}


#section-3{
	background-image: url(../images/photo-1496950866446-3253e1470e8e.jpeg);
}

#section-4{
	background-image: url(../images/software-engineer-vs-programmer00.jpg);
}

#section-5{
	background-image: url(../images/kwekwe.jpg);
}

nav{
	position: fixed;
	right: 50px;
	top: 40%;
	width: 18px;

}

nav a{
	width: 16px;
	height: 16px;
	background: #f5f3dd;
	border:1px solid white;
	display: inline-block;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	position: relative;
}

nav .caption {
	display: none;
	background:#001d4d;
	color:white;
	position: absolute;
	right: 20px;
	top:-10px;
	text-align: center;
	padding: 0 5px;
	border-radius: 20px;
	font-size: 15px;
}

nav a:hover .caption{
	display: block;
}

.layer{
	height: 500px;
	max-width: 100%;
	color:white;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
}
section{
	padding: 40px 20px;
	max-width: 1160px;
	margin: 0 auto;
}

section:after{
	content: '';
	clear: both;
	display: table;
}

h1{
	font-size: 40px;
	line-height: 40px;
	margin:0;
}

h3{
	color: #001d4d;
	text-align: center;
	margin:0;
	font-style: italic;
}

#section-1 .skew-neg{
	margin: 100px 0 0 20px;
	border-left: 5px solid white;
}


.skew-neg{
	transform: skew(-10deg);
	-webkit-transform:skew(-10deg);
	-moz-transform:skew(-10deg);
	-ms-transform:skew(-10deg);
	border-left: 5px solid black;
	/*border-right: 5px solid black;*/
}

.skew-pos{
	transform: skew(10deg);
	-webkit-transform:skew(10deg);
	-moz-transform:skew(10deg);
	-ms-transform:skew(10deg);
}

#section-1 .title{
	
	padding-left: 30px;
}

.h3{
	float: left;
	width:30%;
	font-size: 25px;
}

.h3 .skew-neg{
	padding:20px;
	border-right: 5px solid black;
}

.excerpt{
	float: left;
	width: 70%;
	padding-left: 50px;
}

.row{
	width:100%;
	float: left;
	margin-bottom: 40px;
}

#about-me .img{
	float: left;
	width: 25%;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}


section .col{
	float: left;
	width: 75%;
	padding-left: 50px;
	text-align: justify;

}

section .col p{
	margin: 0 0 5px 0;
}

#about-me .box{
	float: left;
	border:1px solid black;
	text-align: center;
	margin: 0 10px;
	min-width: 160px;

}

#about-me .box:first-child{
	margin-left: 0;
}


#about-me .box .header{
	padding: 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
}

#about-me .box .value{
	padding: 10px;
}

#about-me .row-boxes, #projects .row-projects{
	width: 100%;
	text-align: center;
}

#about-me .box-wrapper, #projects .projects-wrapper{
	display: inline-block;
}

.timeline{
	width: 100%;
	float: left;
	position: relative ;
	margin-top: 40px;
}

.timeline::before{
	content: '';
	width: 2px;
	background: black;
	position: absolute;
	top:0;
	bottom: 0;
	left: 50%;
}

.timeline .experience{
	width: 40%;
}

.timeline .experience:nth-child(even){
	float: right;
	padding-left: 60%;
}

.timeline .experience:nth-child(even) .timeline-body{
	border-left:none;
}

.timeline .experience:nth-child(odd) .timeline-body{
	border-right:none;
}

.timeline .experience:nth-child(odd){
	float: left;
	padding-right: 40%;
}


.timeline .experience .timeline-heading{
	font-weight: bold;
	font-size: 18px;
	padding-left: 10px;

}

.timeline .experience .timeline-body{
	border: 2px solid black;
	padding: 10px;
}

.timeline .experience .bullet{
	width: 60px;
	height: 60px;
	border: 3px solid black;
	position: absolute;
	left: 560px;
	margin-left: -30px;
	background: #f5f3dd;
}

.timeline .start-bullet{
	text-align: center;
	height: 40px;
	line-height: 40px;
	position: relative;
	top:-40px;
	font-size: 18px;
}

.timeline .start-bullet .skew-neg{
	display: inline-block;
	padding: 0 20px;
	background:#001d4d;
	color:white;
}

.Skill{
	float: left;
	width: 16.66666667%;
	text-align: center;
}

.Skill .pie{
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	margin: 0 auto 10px;
}

/* 5%= 80% - 75% = 360 - 0.05 = 18de */
.Skill .pie-80{
	background-image: linear-gradient(18deg,black 50%, transparent 50%),linear-gradient(90deg,#f5f3dd 50%, transparent 50%)
}

/* -5% = 70% - 75 % = 360 * - 0.05 = -18deg*/
.Skill .pie-70{

	background-image: linear-gradient(-18deg,black 50%, transparent 50%),linear-gradient(90deg,#f5f3dd 50%, transparent 50%)
}

/* 10% = 35% -25 % = 360 * 0.1 = 36deg*/

.Skill .pie-35{

	background-image: linear-gradient(36deg,#f5f3dd 50%, transparent 50%),linear-gradient(90deg,#f5f3dd 50%, transparent 50%)
}

/* 20%= 95% - 75% = 360 - 0.2 = 72deg */

.Skill .pie-85{

	background-image: linear-gradient(72deg,#f5f3dd 50%, transparent 50%),linear-gradient(90deg,#f5f3dd 50%, transparent 50%)
}

/* -3% = 65% - 75 % = 360 * - 0.06 = -18deg*/
.Skill .pie-60{

	background-image: linear-gradient(-12deg,black 50%, transparent 50%),linear-gradient(90deg,#f5f3dd 50%, transparent 50%)
}

}
.Skill .heading{
	text-align: center;
	font-size: 18px;
}

#projects .h3 #testimonials .h3{
	text-align: center;
	float: none;
	margin: 0 auto;
}

#projects .h3 .skew-neg, #testimonials .h3  .skew-neg{
	display: inline-block;
}

.project{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.project .caption{
	margin-top: 10px;
	text-align: center;
	font-size: 15px;
}

.project .name{
	font-weight: bold;
}

.project .tech{
	font-style: italic;
	font-size: 16px;
}

#testimonials .name{
	font-weight: bold;
	margin-bottom: 10px;
}

#testimonials .quote{
	font-style: italic;
	margin-bottom: 20px;
}



    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	h1{
    		font-size: 48px;
    		line-height: 48px;
    	}

    	.h3{
    		width: 100%;
    		text-align: center;
    		margin-bottom: 20px;
    	}

    	.h3 .skew-neg{
    		display: inline-block;
    	}

    	.excerpt, #about-me .col{
    		width: 100%;
    		padding: 0;
    	}

    	#about-me .img{
    		width: 100%;
    		margin-bottom: 20px;
    	}

    	#about-me img{
    		width:100%;
    	}

    	.box-wrapper{
    		width: 540px;
    	}

    	.box{
    		margin-left: 120px;
    	}

        /*this thing is not working*/

    	#about-me .box:first-child{
    		margin-left: 10px;
    	}

    	#about-me .box{
    		margin: 0 10px 20px;
    	}

    }

    /*Special fr Item-box iphone 5 Potrait, Landscape*/

    @media only screen and (max-width: 667px){
    	h1{
    		font-size: 34px;
    		line-height: 34px;
    	}

    	.box-wrapper{
    		width: 360px;

    	}

    	.Skill{
    		width: 50%;
    	}

    	#projects .projects-wrapper{
    		width: 280px;
    	}


    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    	#section-1 .skew-neg{
    		margin: 100px 0 0 10%;
    	}

    	.Skill{
    		width: :33.33%;
    		margin-bottom: 20px;
    	}

    	#projects .projects-wrapper{
    		width: 560px;

    	}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    	#projects .projects-wrapper{
    		width: 840px;
    	}

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }